#map {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 53px;
	background: #c0c0c0;
}

.float {
	float: right;
}

.info {
  position: relative;
  float: left;
  z-index: 100;
  display: block;
  margin: 50px;
}

.filters {
	position: relative;
	float: right;
	z-index: 100;
	display: block;
	margin: 50px
}

.panel-heading .label {
	font-size: 15px;
}

li.native {
	background: #dff0d8;
}

li.introduced {
	background: #dff0d8;
}

li.invasive {
	background: #f2dede;
}

li.native.introduced-else {
	background: #dff0d8;
}

li.introduced.introduced-else {
	background: #dff0d8;
}

li.introduced.invasive-else {
	background: #fcf8e3;
}

li.native.invasive-else {
	background: #fcf8e3;
}

